
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

* {
    margin: 0px;
}

body {
    background-color: hsl(47, 88%, 63%);
    margin: 0px;
}

main {
    font-family: 'Figtree', sans-serif;
    background-color: white;
    position: absolute;
    top: 21%;
    left: 38%;
    border-radius: 15px;
    border: 1px solid;
    height: 470px;
    width: 340px;
    box-shadow: 8px 8px;
}

img {
    margin: 15px 15px 8px 15px;
    border-radius: 10px;
    width: 310px;
}

h1 {
    font-size: 15px;
    text-indent: 35px;
    background-color: hsl(47, 88%, 63%);
    width: 110px;
    height: 20px;
    border-radius: 5px;
    margin: 5px 5px 0px 5px;
}

.data {
    padding-left: 20px;
    margin-top: 10px;
}

h2 {
    padding-left: 20px;
    margin-top: 20px;
}

.conteudo {
    padding-left: 20px;
    margin-top: 15px;
    font-size: 15px;
    line-height: 22px;
    color: hsl(0, 3%, 44%);
}

.nome {
    text-indent : 20px;
    font-size: bolder;
    padding-left: 40px;
    margin-top: 30px;
}

.avatar {
    height: 35px;
    width: 35px;
    position: absolute;
    bottom: 2%;
}